:root {
  --toast-background: #2C2C43 !important;
  --toast-header: #292941 !important;
  --toast-contents: #292D3E !important;
  
  --background-primary: #2C2C43;
  --background-secondary: #292941;
  --background-tertiary: #353553;
  --background-secondary-alt: #1E1E2F;
  --scrollbar-auto-thumb: #686BDE;
  --scrollbar-thin-thumb: #686BDE;
  --scrollbar-auto-track: #252938;
  --channeltextarea-background: #1C1C2B;
  --background-floating: #1E1E2F;
  --background-modifier-selected: #232336;
  --coolborder: 0 0 0 1px #686BDEb3, 0 2px 10px 0 #2E325A;
}

.userPopout-3XzG_A, .background-1QDuV2, .elevationBorderHigh-2WYJ09, .menu-3sdvDG {
   border-radius: 0px; /* Fuck radius men */
   transition: box-shadow .2s;
}

.userPopout-3XzG_A:hover, .background-1QDuV2:hover, .elevationBorderHigh-2WYJ09:hover, .menu-3sdvDG:hover  {
   box-shadow: var(--coolborder);
   transition: box-shadow .2s;
}



.theme-dark .option-96V44q:after {
    display: none;
}

.theme-dark .container-3ayLPN {
    background-color: #292D3E;
}

.theme-dark .option-96V44q.selected-rZcOL- {
    background-color: #31374e;
}
